body {
  background-color: #6dd9c7;
}
.App {
  min-height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  text-align: center;
}
.hebe-logo {
  width: 35vw;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.coin-front {
  height: 20vw;

  transform-style: preserve-3d;
  width: 20vw;

  background-color: #ec008c;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}
.coin-back {
  height: 20vw;

  width: 20vw;
  transform-style: preserve-3d;

  background-color: #ea008b;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}
.motylek {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.nagroda {
  max-height: 80%;
  max-width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.top-decorator {
  position: absolute;
  width: 100%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  transition: transform 0.8s;

  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.hop {
  transform: rotateY(180deg);
  transition: transform 0.8s;
  backface-visibility: hidden;
}
.hip {
  transform: rotateY(0deg);
  transition: transform 0.8s;
  backface-visibility: hidden;
}
